* {
    box-sizing: border-box;
}
body {
    margin: 0;

}
nav {
    background: #808080;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
    padding: 0;
    /*margin: auto;*/
    display: flex;

}
nav a {
    text-decoration: none;
    color: #000;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
}
nav a:hover {
    background: #333333;
    color: #add8e6;
}
.logo-img {
    padding:1em;
    display: flex;
    align-content: space-around;
}
.nav-bar-left {
    font-family: Montserrat, sans-serif;
}
.nav-bar-right {
    font-family: Work Sans, sans-serif;
}